<div class="row justify-content-center">
    <div class="col-12">
        <div class="card cardPrincipal">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10 col-8">
                        <h2>App Web</h2>
                    </div>
                    <div class="col-lg-2 col-4">
                        <a class="btn" href="/proyectos"><i class="fas fa-solid fa-arrow-left"></i></a>
                        <a class="btn" href="/"><i class="fas fa-solid fa-x"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <a href="https://1drv.ms/v/s!Amepr3j97nvItxGLsMX-Nm-hUSWj?e=cSVehw" target="_blank">
                                    <h5>&Oacute;ptica Qualite Web</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <img src="/img/optikWeb.JPG" alt="Card image cap" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <a href="https://1drv.ms/v/s!Amepr3j97nvItxCJ7UuGpe-5edgO?e=MlnYp3" target="_blank">
                                    <h5>Guarderia Web</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <img src="/img/guarderiaWeb.JPG" alt="Card image cap" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <a href="https://1drv.ms/v/s!Amepr3j97nvItxWOX6G58obgp3Ba?e=6cKjJI" target="_blank">
                                    <h5>TicketPriority Web</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <img src="/img/ticketPriority.JPG" alt="Card image cap" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>