<div class="row justify-content-center">
    <div class="col-12">
        <div class="card cardPrincipal">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10 col-8">
                        <h2>Logos</h2>
                    </div>
                    <div class="col-lg-2 col-4">
                        <a class="btn" href="/proyectos"><i class="fas fa-solid fa-arrow-left"></i></a>
                        <a class="btn" href="/"><i class="fas fa-solid fa-x"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-lg-2 col-12 mt-2">
                        <div class="card cardLogo">
                            <img src="/img/logoDTC.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h6>El primer logo que hice para mi equipo de la
                                    universidad para la materia Integradora.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12 mt-2 ">
                        <div class="card cardLogo">
                            <img src="/img/logoDTC2.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h6>El segundo logo que hice para mi equipo de la
                                    universidad para la materia Integradora.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12 mt-2">
                        <div class="card cardLogo">
                            <img src="/img/logoOQ.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h6>El primer logo del proyecto escolar "Óptica Qualite".
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12 mt-2 ">
                        <div class="card cardLogo">
                            <img src="/img/logoOQ2.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h6>El logo final del proyecto escolar "Óptica Qualite".
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12 mt-2">
                        <div class="card cardLogo">
                            <img src="/img/logoTheYude.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h6>El logo fue hecho para un streamer.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>