<div class="row justify-content-center">
    <div class="col-12">
        <div class="card cardPrincipal">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10 col-8">
                        <h2>Mockups</h2>
                    </div>
                    <div class="col-lg-2 col-4">
                        <a class="btn" href="/proyectos"><i class="fas fa-solid fa-arrow-left"></i></a>
                        <a class="btn" href="/"><i class="fas fa-solid fa-x"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <a href="https://1drv.ms/b/s!Amepr3j97nvItxNij8AIKugkKne1?e=pmN9Kb" target="_blank">
                                    <h5>Proyecto Guarderia</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <h6>Ver pdf en otra pestaña <a href="/video/InterfacesPrueba.pdf" target="_blank">click
                                        aqu&iacute;</a></h6>
                                <p class="card-text">(Los botones del PDF funcionan).</p>
                                <object data="/video/InterfacesPrueba.pdf" type="application/pdf">
                                    <h6>Tu navegador no soporta la visualización de pdf <a
                                            href="/video/InterfacesPrueba.pdf">click aqu&iacute;</a></h6>
                                </object>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <a href="https://1drv.ms/b/s!Amepr3j97nvItxTRXUlN_E18snvm?e=9Krk2O" target="_blank">
                                    <h5>Proyecto para la empresa PPS</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <h6>Ver pdf en otra pestaña <a href="/video/DiseñoInterfaz_TicketPriority.pdf"
                                        target="_blank">click
                                        aqu&iacute;</a></h6>
                                <p class="card-text">(Los botones del PDF funcionan).</p>
                                <object data="/video/DiseñoInterfaz_TicketPriority.pdf" type="application/pdf">
                                    <h6>Tu navegador no soporta la visualización de pdf <a
                                            href="/video/DiseñoInterfaz_TicketPriority.pdf">click aqu&iacute;</a></h6>
                                </object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>