<div class="row justify-content-center">
    <div class="col-12">
        <div class="card cardPrincipal">
            <div class="card-header">
                <h2>Desarrolladora de Software</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="">Como <strong>desarrolladora de software</strong>, mi trabajo consiste en
                        <b>crear soluciones tecnológicas</b>
                        mediante la escritura de código y la implementación de software.
                    </p>
                    <ul class="text-center">
                        <li>
                            Analizo los requisitos de los clientes y usuarios para
                            <b>entender sus necesidades</b> y transformarlos en especificaciones técnicas.
                        </li>
                        <li>
                            Diseño la arquitectura del software y procedo a codificarlo
                            utilizando lenguajes de programación y <b>herramientas adecuadas</b>.
                        </li>
                    </ul>
                    <p>
                        Durante el proceso de desarrollo, realizo pruebas exhaustivas para detectar y corregir errores,
                        <b>asegurándome de que el software funcione correctamente</b>.
                        También me ocupo del despliegue del software en el entorno de producción y de su posterior
                        mantenimiento, aplicando actualizaciones y mejoras según sea necesario. Como desarrollador de
                        software,
                        <b>me apasiona crear soluciones innovadoras y eficientes</b>
                        que satisfagan las necesidades de los usuarios y ayuden a mejorar procesos y sistemas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>