<div class="row">
    <div class="col-12">
        <div class="card divNav">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-lg-2 col-12 m-2">
                            <img src="/img/fotoDenisse.png" alt="" width="120" height="120"
                                style="border-radius: 20px;">
                        </div>
                        <div class="col-lg-8 col-12 m-2 mt-4">
                            <div class="row">
                                <h2>Denisse Cardona</h2>
                            </div>
                            <div class="row">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;karedenisse1@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-12 m-2 mt-5">
                            <button class="cta" onclick="cargarContacto();">
                                <span>Contacto</span>
                                <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </button>
                        </div>
                        <div class="col-lg-5 col-12 m-2 mt-5">
                            <button class="cta" onclick="cargarProyectos();">
                                <span>Mis proyectos</span>
                                <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>